<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t "static_pages.ruby"%></em></a><%= t ".about1"%>
  <a href="http://www.railstutorial.org/book"><%= t ".about2" %></a><%= t ".about3" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".about4" %></a>
  <%= t ".about5" %>
  <a href="http://rubyonrails.org/"><%= t ".about6" %></a>.
  <%= t ".about7" %>
</p>
