<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t "t.help1"%>
  <a href="http://www.railstutorial.org/help"><%= t ".help2" %></a>.
  <%= t ".help3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "static_pages.ruby"%></em>
  <%= t ".help4" %></a><%= %>
</p>
