<footer class="footer">
  <small>
    <%= t "layouts.footer1" %><a href="http://www.railstutorial.org/"><%= t "layouts.footer2" %></a>
    <%= t "layouts.footer3" %><a href="http://www.michaelhartl.com/"><%= t "layouts.footer4" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.footer5"), about_path %></li>
      <li><%= link_to t("layouts.footer6"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "layouts.footer7"%></a></li>
    </ul>
  </nav>
</footer>
